
<div>
    <!-- //crear un modelo para "agregar" que abra un modelo para poder agregar un usuario, 
     debe tener un boton para agregar o cancelar y si le das "agregar" use el metodo post 
     para golpear nuestra API// -->
    <app-gridcomponent #gridComponent (buttonEditSelected)="UpdateRole($event)" 
    (buttonDeleteSelected)="DeleteRole($event)"[dataSourceGridInput]="dataSourceRolesPage" 
    [columns]="roleColumns" [headers]="roleHeaders"></app-gridcomponent>
    <div class="example-button-container">
      <p-button mat-fab extended (click)="AddOrEditRole()">
        <mat-icon>add</mat-icon>
        New Role
      </p-button>
    </div>

  </div>