
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  .backgrwnd{
    background: url(https://pixabay.com/es/photos/cat-gatito-alley-cat-pet-calle-1543541/);
    height: 100%;
    vertical-align: middle;
  }