
<input-overview-example #inputComponent1 (inputSelected)="inputSelect($event)" [field]="this.fieldData.field1" [placeholder]="'type username'">
</input-overview-example>
<input-overview-example #inputComponent2 (inputSelected)="inputSelect($event)" [field]="this.fieldData.field2" [placeholder]="'type Password'">
</input-overview-example>
<input-overview-example #inputComponent3 (inputSelected)="inputSelect($event)" [field]="this.fieldData.field3" [placeholder]="'type RoleID'">
</input-overview-example>
<input-overview-example #inputComponent4 (inputSelected)="inputSelect($event)" [field]="this.fieldData.field4" [placeholder]="'type Mail'">
</input-overview-example>
<p-button class="boton" (click)="onNoClick()">Cancel </p-button>
<p-button *ngIf="!isEdit" class="boton" (click)="Close()">Add User</p-button>
<p-button *ngIf="isEdit" class="boton" (click)="Close()">Edit User</p-button>