
<div>
    <!-- //crear un modelo para "agregar" que abra un modelo para poder agregar un usuario, 
     debe tener un boton para agregar o cancelar y si le das "agregar" use el metodo post 
     para golpear nuestra API// -->
    <app-gridcomponent #gridComponent (buttonEditSelected)="UpdatePermission($event)" 
    (buttonDeleteSelected)="DeletePermission($event)"[dataSourceGridInput]="dataSourcePermissionsPage" 
    [columns]="permissionsColumns" [headers]="permissionsHeaders"></app-gridcomponent>
    <div class="example-button-container">
      <p-button mat-fab extended (click) ="AddOrEditPermission()">
        <mat-icon>add</mat-icon>
        New Permission
      </p-button>
    </div>

  </div>