<h2 mat-dialog-title>Hi {{data.name}}</h2>
<mat-dialog-content>
    <div style="display: flex; flex-direction: row;">
        <p>
            &nbsp;&nbsp;&nbsp;/\_____/\<br />
            &nbsp;/&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;&nbsp;\<br />
            (&nbsp;&nbsp;==&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;==&nbsp;&nbsp;)<br /> </p> 
            &nbsp;&nbsp;<mat-spinner></mat-spinner>
    </div>
    <p>Log In</p>
    <input-overview-example #inputComponent1 [field1]="'Usuario'" [placeholder]="'test'">
    </input-overview-example>
    <input-overview-example #inputComponent2 [field1]="'Password'" [placeholder]="'test'">
    </input-overview-example>
</mat-dialog-content>
<mat-dialog-actions
    style="display: flex; flex-direction: row; justify-content: center; align-items: center; text-align: center;">

    <button mat-button (click)="onNoClick()"><mat-icon>catching_pokemon</mat-icon>Cancel</button>
    <button mat-button [mat-dialog-close]="animal()" cdkFocusInitial><mat-icon>auto_fix_high</mat-icon> Login</button>

</mat-dialog-actions>