<h2 mat-dialog-title>Hi Stranger</h2>
<mat-dialog-content>
    <div style="display: flex; flex-direction: row;">
        <p>
            &nbsp;&nbsp;&nbsp;/\______/\<br />
            &nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;&nbsp;&nbsp;\<br />
            (&nbsp;&nbsp;==&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;==&nbsp;&nbsp;)<br /> </p> 
            &nbsp;&nbsp; ??<mat-spinner></mat-spinner>
    </div>
    <p>Log In</p>
    <input-overview-example #inputComponent1 (inputSelected)="inputSelect($event)" [field]="'username'" [placeholder]="'type username'">
    </input-overview-example>
    <input-overview-example  #inputComponent2 (inputSelected)="inputSelect($event)" [field]="'Password'" [placeholder]="'type Password'">
    </input-overview-example>
</mat-dialog-content>
<mat-dialog-actions
    style="display: flex; flex-direction: row; justify-content: center; align-items: center; text-align: center;">

    <button mat-button (click)="onNoClick()"><mat-icon>catching_pokemon</mat-icon>Cancel</button>
    <button mat-button [mat-dialog-close]="InputData()" cdkFocusInitial><mat-icon>auto_fix_high</mat-icon> Login</button>

</mat-dialog-actions>

