.pagination-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    gap: 5px; /* Espaciado entre elementos */
    margin-top: 20px; /* Espacio superior */
    width: 100%;
}
.pagination-container-left{

    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1; 
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex: 1; /* Ocupa espacio pero mantiene los elementos centrados */
}
.pagination-container-right{

    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1; 
    width: 300px;
}

.page-input {
    width: 45px; /* Tamaño del input */
    height: 35px;
    text-align: center; /* Centra el texto dentro del input */
}   


.pagination-text-left {
    font-size: 15px;
    text-align: right;
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.pagination-text-right {
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
}
